{% extends 'base.html.twig' %}

{% block title %}{{parent()}}|Service{% endblock %}

{% block page_title %}Service{% endblock %}

{% block body %}
<div class="service-container">
  <div class="service">
    <div class="service-content-1">
      <div class="service-content-1-banner">
        <img
          class="service-content-1-banner-img"
          src="{{ asset('images/lab2.png') }}"
        />
      </div>
    </div>
    <div class="service-content-2">
      <div class="service-content-2-frame">
        <div class="service-content-2-item">
          <div class="service-content-2-title">
            Section de Contrôle des Composants (CMPT CTRL)
          </div>
          <div class="service-content-2-text">
            Gestion globale des affaires au sein de Rhine Lab, coordination
            entre les départements, et supervision des opérations générales.
          </div>
        </div>
        <div class="service-content-2-item">
          <div class="service-content-2-title">Section Écologique (ECO)</div>
          <div class="service-content-2-text">
            Recherche sur l&#039;évolution biologique de Terra, étude des
            interactions entre la biologie et l&#039;environnement de la
            planète.
          </div>
        </div>
        <div class="service-content-2-item">
          <div class="service-content-2-title">Section Énergie (NRG)</div>
          <div class="service-content-2-text">
            Recherche sur différentes formes d&#039;énergie sur Terra, y compris
            l&#039;Originium, la lumière solaire, la géothermie et la
            biothermie, ainsi que leur application pratique dans la
            technologie.Recherche sur différentes formes d&#039;énergie sur
            Terra, y compris l&#039;Originium, la lumière solaire, la géothermie
            et la biothermie, ainsi que leur application pratique dans la
            technologie.
          </div>
        </div>
      </div>
      <div class="service-content-2-frame">
        <div class="service-content-2-item">
          <div class="service-content-2-title">
            Section des Arts de l&#039;Originium (ORIG)
          </div>
          <div class="service-content-2-text">
            Étude des principes fondamentaux des Arts de l&#039;Originium et de
            leurs applications, explorant les possibilités de cette ressource
            unique.
          </div>
        </div>
        <div class="service-content-2-item2">
          <div class="service-content-2-title">
            Section d&#039;Investigation Scientifique (SCIEN)
          </div>
          <div class="service-content-2-text">
            Exploration de territoires non civilisés sur Terra, comme le champ
            de glace de Sami, pour enquêter sur des mystères et découvrir des
            reliques des anciennes civilisations.
          </div>
        </div>
        <div class="service-content-2-item">
          <div class="service-content-2-title">
            Section d&#039;Affaires (BSN)
          </div>
          <div class="service-content-2-text">
            Gestion des affaires publiques et communication avec d&#039;autres
            entreprises, renforçant la présence publique de Rhine Lab.
          </div>
        </div>
      </div>
      <div class="service-content-2-frame">
        <div class="service-content-2-item">
          <div class="service-content-2-title">Section Structurelle (STRU)</div>
          <div class="service-content-2-text">
            Recherche sur les particules de base (éléments, atomes, molécules
            biologiques) des êtres vivants sur Terra et leur interaction avec
            leur environnement.
          </div>
        </div>
        <div class="service-content-2-item">
          <div class="service-content-2-title">
            Section d&#039;Investigation des Ressources Humaines (HRI)
          </div>
          <div class="service-content-2-text">
            Gestion des ressources humaines, recrutement, et assurer le
            bien-être des membres du personnel.
          </div>
        </div>
        <div class="service-content-2-item">
          <div class="service-content-2-title">Section de Défense (DEF)</div>
          <div class="service-content-2-text">
            Recherche et développement en sécurité, gestion des urgences de
            laboratoire, traitement d&#039;informations confidentielles et non
            divulguées.
          </div>
        </div>
      </div>
      <div class="service-content-2-frame">
        <div class="service-content-2-item">
          <div class="service-content-2-title">
            Section d&#039;Ingénierie (ENG)
          </div>
          <div class="service-content-2-text">
            Fourniture de support mécanique et robotique pour les chercheurs de
            Rhine Lab, garantissant le bon fonctionnement des équipements et des
            projets.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
